<!DOCTYPE html>
<html>
<head>
    <title>Game Nest</title>
    <link rel="stylesheet" type="text/css" href="\static\project.css">
</head>
<body>
    <div class="container">
        <h2>Register Now</h2>
        <h>Welcome to GameNest, Register now and start your trial!</h>
        <form action="/execute_python_code" method="post" id="registrationForm" >
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <button type="submit">Register Now</button>
        </form>
    </div>
    <div id="result"></div>
    <script>
        document.getElementById("registrationForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var formData = new FormData(this);

            fetch("/execute_python_code", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var resultDiv = document.getElementById("result");
                if (data.result) {
                    alert("Access Granted");
                } else {
                    alert("Access Denied,Try Again");
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });
    </script>
    <script src="project.js"></script>
</body>
</html>
